version: '3.8'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    image: mechanical-backend:latest
    container_name: mechanical-backend-app
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    volumes:
      - ./backend/models:/app/models
      - ./backend/index:/app/index
      - ./backend/CMAPSSData:/app/CMAPSSData
    restart: always

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    image: mechanical-frontend:latest
    container_name: mechanical-frontend-app
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:8000
    depends_on:
      - backend
    restart: always
